SERVER_PORT=8081
DB_URL=jdbc:mysql://localhost:3306/english_learning_support
DB_USERNAME=root
DB_PASSWORD=
CORS_ALLOWED_ORIGINS=http://localhost:5174,http://localhost:5173
JWT_SECRET=
JWT_ACCESS_TOKEN_VALIDITY=86400
JWT_REFRESH_TOKEN_VALIDITY=604800
VOCAB_AUDIO_STORAGE_DIR=build/vocab-audio
VOCAB_AUDIO_BASE_URL=/api/v1/vocabs/audio
VOCAB_TTS_LANGUAGE_CODE=en-GB
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=50MB
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=2000
